<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MiniExcel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MiniExcel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MiniExcel.Properties.Settings>
            <setting name="FormatType" serializeAs="String">
                <value>CSV</value>
            </setting>
            <setting name="FileNameOutput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SheetNameOutput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LineNoOutput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SendToShortcut" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CompleteMsg" serializeAs="String">
                <value>True</value>
            </setting>
        </MiniExcel.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <MiniExcel.Properties.Settings>
            <setting name="ShortcutName" serializeAs="String">
                <value>MiniExcel.lnk</value>
            </setting>
            <setting name="AppName" serializeAs="String">
                <value>MiniExcel</value>
            </setting>
        </MiniExcel.Properties.Settings>
    </applicationSettings>
</configuration>