<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MiniLauncher.Properties.Settings.DatabaseConnectionString"
            connectionString="Data Source=|DataDirectory|\Database.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="MiniLauncher.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=|DataDirectory|\Database1.sdf"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
        <add name="MiniLauncher.Properties.Settings.MiniLauncherConnectionString"
            connectionString="Data Source=|DataDirectory|\MiniLauncher.sdf"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
