<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MiniFileList.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FileList.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MiniFileList.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MiniFileList.Properties.Settings>
            <setting name="InDir" serializeAs="String">
                <value />
            </setting>
            <setting name="ExclusionDirs" serializeAs="String">
                <value />
            </setting>
            <setting name="OutFile" serializeAs="String">
                <value />
            </setting>
            <setting name="SendToShortCutFlag" serializeAs="String">
                <value>True</value>
            </setting>
        </MiniFileList.Properties.Settings>
        <FileList.Properties.Settings>
            <setting name="InDir" serializeAs="String">
                <value />
            </setting>
            <setting name="ExclusionDirs" serializeAs="String">
                <value />
            </setting>
            <setting name="OutFile" serializeAs="String">
                <value />
            </setting>
        </FileList.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <MiniFileList.Properties.Settings>
            <setting name="AppName" serializeAs="String">
                <value>MiniFileList</value>
            </setting>
        </MiniFileList.Properties.Settings>
    </applicationSettings>
</configuration>